<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="ClasesBase.Properties.Settings.DefaultConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB; Integrated Security=True; AttachDbFilename=D:\Lpoo2\LPOOII_Grupo10\ClasesBase\Database\comdep.mdf; Database=comdep;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>